<section class="border-top section page-section">
  <div class="container align-centre">
    <h1 class="section-heading">{{ pages[settings.homepage].title }}</h1>
    <div class="reading-column rte">{{ pages[settings.homepage].content | replace: 'fullwidth"', '" data-fullwidth="true"' }}</div>
  </div>
</section>