{% if paginate.pages > 1 %}
<ul class="pagination">
  {% if paginate.previous %}
  	<li><a href="{{ paginate.previous.url }}" class="prev"><i class="icon-arrow-left"></i></a></li>
  {% else %}
  	<li><span class="linkless prev"><i class="icon-arrow-left"></i></span></li>
  {% endif %}
  
  {% for part in paginate.parts %}
    <li {% if paginate.current_page == part.title %}class="active"{% endif %}>
      {% if part.is_link %}
        {{ part.title | link_to: part.url }}
      {% else %}
        <span class="linkless">{{ part.title }}</span>
      {% endif %}
    </li>
  {% endfor %}
  
  {% if paginate.next %}
  	<li><a href="{{ paginate.next.url }}" class="next"><i class="icon-arrow-right"></i></a></li>
  {% else %}
  	<li><span class="linkless next"><i class="icon-arrow-right"></i></span></li>
  {% endif %}
</ul>
{% endif %}
