//@import "~slick-carousel/slick/slick.css";
//@import "~slick-carousel/slick/slick-theme.css";

/*build-a-kit styling*/
.build-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  h1 {
    font-size: 36px;
  }
  article {
    max-width: 450px;
    font-size: 18px;
  }
  .kit-image {
    margin: 20px 0;
    width: 450px;
    height: 450px;
    background-color: white;
  }
  .selected {
    width: 450px;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-around;
    p {
      font-size: 16px
    }
  }
  .button {
    margin-bottom: 20px;
    width: 450px;
    padding: 0;
    h1 {
      margin: 0;
      color: white;
      padding: 0;
    }
  }

  .product-list {
    display: block;
    div.kit-option {
      height: 125px;
      width: 125px;
      background-color: white;
      margin: 15px;
    }
  }

  /*mobile style*/
  @media only screen and (max-width: 768px) {
    h1 {
      font-size: 24px;
    }

    article {
      max-width: 300px;
      font-size: 14px;
    }

    .kit-image {
      margin: 20px 0;
      width: 300px;
      height: 300px;
      background-color: white;
    }
    .selected {
      width: 300px;
      justify-content: space-around;
      p {
        font-size: 12px
      }
    }

    .button {
      margin-bottom: 20px;
      width: 300px;
      h1 {

      }
    }

    .product-list {
      div {
        height: 75px;
        width: 75px;
        margin: 5px;
      }
    }
  }
}