<div id="customer-register" class="container">
  <div id="register" class="reading-column">
    <h1 class="page-title">{{ shop.metafields.locales.edit_account }}</h1>

    {% include 'customer-fields' %}

  </div><!-- #register -->
</div><!-- #customer-register -->
