$primary-color: #00558B;
$slick-arrow-color: $primary-color;

/*build-a-kit styling*/
#screen{
  opacity: 1;
  transition: opacity 1000ms ease;
  &.start{
    opacity: .5;
  }

}
.build-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 15px;
  @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    margin-top: -50px;
  }

  h1 {
    font-size: 36px;
  }
  article {
    max-width: 450px;
    font-size: 20px;
    margin-bottom: 20px;
    @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      font-size: 12px;
      margin-bottom: 0;
    }
  }
  .start-screen {
    position: relative;

    &:hover {
      div.start-image {
        opacity: .8;
      }
      div.start-button {
        opacity: 1;
        pointer-events: auto;
        background-color: #c67300;;
      }
    }
    .start-image {
      margin: 20px 0;
      width: 600px;
      height: 450px;
      background-image: url('https://cdn.shopify.com/s/files/1/1583/0411/files/Grp-1_ad7ce715-c46f-46c5-93b0-e8c4f98a88c9.jpg?8054129494557179759');
      background-size: cover;
      background-position: center;
      transition: all 300ms ease;

      @media only screen and (max-width: 768px) {
        width: 535px;
        height: 400px;
      }
      @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        width: 285px;
        height: 200px;
      }
    }
    .start-button {
      color: white;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-bottom: 15px;
      background-color: #c67345;
      top: 50%;
      right: 50%;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      transform: translate(50%, -50%);
      transition: opacity 300ms ease;
      @media only screen and (min-device-width: 1025px){
        //opacity: 0;
        pointer-events: none;
        cursor: pointer;
      }

      p {
        margin: 0;
        font-size: 32px;
        line-height: 32px;
        width: 100px;
      }
      @media only screen and (max-width: 768px) {
        background-color: #c67345;
        position: relative;
        border-radius: 0;
        height: 50px;
        transform: none;
        top: 0;
        width: 100%;
        right: 0;
        p {
          font-size: 24px;
          line-height: 24px;
        }
      }
      @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        height: 30px;

        p {
          font-size: 20px
        }
      }
    }
  }
  .build-a-kit {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: opacity 1000ms ease;
    opacity: 0;
    pointer-events: none;

    &.show {
      opacity: 1;
      pointer-events: auto;
    }
  }
  .kit-image {
    width: 600px;
    height: 450px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 400px;
    }
    @media only screen and (max-width: 768px) {
      width: 535px;
      height: 400px;
    }
  }
  .bundle-view {
    position: relative;
    .buy-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -75px;
      height: 175px;
      width: 175px;
      border-radius: 50%;
      font-size: 24px;
      &:focus {
        outline: none;
      }
      @media only screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  .show-selected-option {
    height: 50px;
    width: 600px;
    display: flex;
    margin-bottom: 10px;
    margin-top: 20px;
    p {
      font-size: 20px;
      margin-right: 55px;
    }

    @media only screen and (max-width: 768px) {
      width: 350px;
      height: 30px;
      p {
        font-size: 14px;
        margin-right: 25px;
      }
    }

    @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      width: 300px;

      p {
        font-size: 12px
      }
    }
  }
  .buy-button-mobile {
    display: none;
    width: 100%;

    button {
      width: 100%;
      background: gray;
      border-color: gray;
      font-size: 18px;
      pointer-events: none;
    }
    &.enabled {
      button {
        width: 100%;
        background: #cc6e3b;
        border-color: #cc6e3b;
        font-size: 18px;
        pointer-events: auto;
      }
    }
    @media only screen and (max-width: 768px) {
      display: block;
    }
    @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
      width: 300px;
      button {
        width: 100%;
      }
    }
  }

  .button {
    margin-bottom: 20px;
    width: 450px;
    padding: 0;
    h1 {
      margin: 0;
      color: white;
      padding: 0;
    }
  }

  .product-list {
    max-width: 1100px;

    display: flex;
    max-height: 250px;
    align-items: center;
    //position: relative;
    //right: -1600px;
    &.disabled {
      opacity: 0.8;
      pointer-events: none;
      div.showContainer div.showList {
        background-color: grey;
      }
    }

    div.showContainer {
      margin-right: 30px;
      max-height: 300px;
      min-height: 230px;
      display: flex;
      align-items: center;
      .showList {
        background-color: #cc6e3b;
        height: 150px;
        width: 150px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        p {
          width: 125px;
          margin: 0;
          font-size: 20px;
        }
      }

    }
    div.slick-slider {
      margin: 0;
      max-width: 850px;
      .slick-prev {
        left: -225px;
        margin-left: 0 !important;
        opacity: 1 !important;
      }
      .slick-next {
        right: -25px;
        margin-right: 0 !important;
        opacity: 1 !important;
      }
      div.slick-list {
        top: 24px;
        position: relative;

        div.slick-slide {
          //width: 150px !important;
          //height: 150px !important;
          //margin: 0 10px !important;
        }
      }
      .kit-option-container {
        min-height: 200px;
        position: relative;
        .close-button {
          position: absolute;
          background-color: lightgrey;
          color: white;
          left: 0;
          width: 20px;
          height: 20px;
          pointer-events: auto !important;

          &:hover {
            background-color: grey;
            cursor: pointer;
            @media only screen and (max-width: 1024px) {
              background-color: lightgrey;
            }
          }
        }
        div.kit-option {
          height: 150px;
          width: 150px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          background-size: cover;
          background-position-y: top;

          .option {
            opacity: 0;
            display: flex;
            &.show-count {
              opacity: 100;
              p {
                margin: 0;
              }
              &.twice {
                p:first-of-type {
                  left: 10px;
                  position: relative;
                  @media only screen and (max-width: 768px) {
                    left: 5px;
                  }
                }
                p:last-of-type {
                  right: 10px;
                  position: relative;
                  @media only screen and (max-width: 768px) {
                    right: 5px;
                  }
                }
              }
            }
            p {
              background-color: #BFA18D;
              height: 50px;
              width: 50px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-size: 18px;
              cursor: pointer;
              @media only screen and (max-width: 768px) {
                height: 40px;
                width: 40px;
              }
              @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
                height: 25px;
                width: 25px;
                font-size: 12px;
              }

            }
          }
        }
        p.title {
          text-align: center;
          margin: 5px 0 0 0;
          position: relative;
          font-size: 18px;
          width: 150px;
          @media only screen and (max-width: 1024px) {
            width: 125px;
          }
          @media only screen and (max-width: 768px) {
            font-size: 16px;
            width: 125px;
          }
          @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            font-size: 12px;
            width: 65px;
          }

        }
        p.duplicate {
          font-size: 14px;
          text-align: left;
          margin: 0;
          position: relative;
          color: gray;
          //@media only screen and (max-width: 768px) {
          //  height: 40px;
          //  width: 40px;
          //}
          @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
            font-size: 10px;
          }
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

      }
    }
  }

  /*mobile style*/
  //ipad-Landscape
  @media only screen and (max-width: 1024px) {

    div.product-list {
      max-width: 800px;
      div.showContainer {
        min-width: 125px;
        margin-right: 10px;
        div.showList {
          height: 125px;
          width: 125px;
          font-size: 20px;
        }
      }
      div.slick-slider {
        div.slick-list {
          top: 38px;
        }
        .slick-prev {
          transition: none !important;
          left: -175px;
          opacity: 1;
          margin-left: 0;
        }
        .slick-next {
          transition: none !important;
          right: -25px;
          opacity: 1;
          margin-right: 0;
        }

      }
      div.kit-option-container {
        width: 135px !important;
        div.kit-option {
          height: 125px !important;
          width: 125px !important;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    div.product-list {
      max-width: 550px;
      div.showContainer {
      }
      div.slick-slider {
        max-width: 400px;
        div.slick-list {
          top: 39px;
        }
        .slick-prev {
          left: -185px;
        }
        .slick-next {
          right: -40px;
        }
      }
      div.kit-option-container {
        width: 134px !important;
        div.kit-option {
          height: 125px !important;
          width: 125px !important;
        }
      }
    }
    h1 {
      font-size: 24px;
    }

    article {
      max-width: 300px;
      font-size: 14px;
    }

    .kit-image {
      margin: 20px 0;
      width: 535px;
      height: 400px;
      background-color: white;
      display: flex;
      img {
        max-height: 275px;
      }
      @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        width: 300px;
        height: 300px;
      }
    }
    .selected {
      width: 535px;
      justify-content: space-around;
      p {
        font-size: 12px;

      }
    }

    .button {
      margin-bottom: 20px;
      width: 300px;
      h1 {

      }
    }
  }
  @media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    div.product-list {
      max-width: 550px;
      div.showContainer {
        min-width: 75px;
        margin-right: 10px;
        div.showList {
          height: 65px;
          width: 65px;
          p {
            margin: 0;
            width: 60px;
            line-height: 10px;
            color: white;
            font-size: 10px;
          }
        }
      }
      div.slick-slider {
        max-width: 250px;
        div.slick-list {
          top: 66px;
        }
        .slick-prev:before, .slick-next:before {
          font-size: 20px;
        }
        .slick-prev {
          left: -115px;
        }
        .slick-next {
          right: -20px;
        }
      }
      div.kit-option-container {
        width: 84px !important;
        div.kit-option {
          height: 65px !important;
          width: 65px !important;
        }
      }
    }

  }

  h3 {
    background: $primary-color;
    color: #fff;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
  }

  .variable-width .slick-slide p {
    background: $primary-color;
    height: 100px;
    color: #fff;
    margin: 5px;
    line-height: 100px;
    text-align: center;
  }

  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1.08);
  }

  .center h3 {
    opacity: 0.8;
    transition: all 300ms ease;
  }

  .content {
    padding: 20px;
    margin: auto;
    width: 90%;
  }

  .slick-slide .image {
    padding: 10px;
  }

  .slick-slide img {
    border: 5px solid #FFF;
    display: block;
    margin: auto;
  }

  .slick-slide img.slick-loading {
    border: 0
  }

  .slick-slider {
    margin: 30px auto 50px;
  }

  .slick-dots {
    margin-left: 0;
  }

  .slick-thumb {
    bottom: -45px;
    li {
      width: 60px;
      height: 45px;
      img {
        filter: grayscale(100%);
      }
      &.slick-active {
        img {
          filter: grayscale(0%);
        }
      }
    }
  }

  @media (max-width: 768px) {
    h3 {
      font-size: 24px;
    }
    .center {
      margin-left: -40px;
      margin-right: -40px;
    }
    .center .slick-center h3 {
      color: #e67e22;
      opacity: 1;
      transform: scale(1);
    }
    .center h3 {
      opacity: 0.8;
      transform: scale(0.95);
      transition: all 300ms ease;
    }
  }

  * {
    min-height: 0;
    min-width: 0;
  }
}

//// just like in the regular library, we cannot simply have a vertical
//// slider fill available space like in the horizontal case
////
//// we have to therefore set the height of a slide in a vertical slider
//// explicitly in CSS or otherwise
//.slick-vertical .slick-slide {
//  height: 180px;
//}