/*build-a-kit styling*/
.build-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 15px;
  /*mobile style*/ }
  .build-kit h1 {
    font-size: 36px; }
  .build-kit article {
    max-width: 450px;
    font-size: 18px; }
  .build-kit .start-screen {
    position: relative; }
    .build-kit .start-screen .start-image {
      margin: 20px 0;
      width: 600px;
      height: 450px;
      background-color: white; }
      @media only screen and (max-width: 768px) {
        .build-kit .start-screen .start-image {
          width: 310px;
          height: 280px; } }
    .build-kit .start-screen .start-button {
      color: white;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-bottom: 15px;
      background-color: #bea08d;
      top: 50%;
      right: 50%;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      transform: translate(50%, -50%);
      transition: background-color 500ms ease; }
      .build-kit .start-screen .start-button:hover {
        cursor: pointer;
        background-color: #c67345; }
      @media only screen and (max-width: 768px) {
        .build-kit .start-screen .start-button {
          background-color: #c67345;
          position: relative;
          border-radius: 0;
          height: 30px;
          transform: none;
          top: 0;
          width: 100%;
          right: 0; } }
  .build-kit .build-a-kit {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column; }
  .build-kit .kit-image {
    margin: 20px 0;
    width: 600px;
    height: 450px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .build-kit .kit-image img {
      max-height: 400px; }
    @media only screen and (max-width: 768px) {
      .build-kit .kit-image {
        width: 310px;
        height: 280px; } }
  .build-kit .show-selected-option {
    height: 50px;
    width: 600px;
    display: flex;
    margin-bottom: 10px; }
    @media only screen and (max-width: 768px) {
      .build-kit .show-selected-option {
        width: 310px; } }
    .build-kit .show-selected-option p {
      font-size: 16px;
      margin-right: 75px; }
  .build-kit .button {
    margin-bottom: 20px;
    width: 450px;
    padding: 0; }
    .build-kit .button h1 {
      margin: 0;
      color: white;
      padding: 0; }
  .build-kit .product-list {
    max-width: 1100px;
    display: flex;
    max-height: 250px;
    align-items: center; }
    .build-kit .product-list div.showContainer {
      margin-right: 30px;
      max-height: 300px;
      min-height: 230px;
      display: flex;
      align-items: center; }
      .build-kit .product-list div.showContainer .showList {
        background-color: white;
        height: 150px;
        width: 150px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex; }
        .build-kit .product-list div.showContainer .showList p {
          width: 125px; }
    .build-kit .product-list div.slick-slider {
      margin: 0;
      max-width: 850px; }
      .build-kit .product-list div.slick-slider .slick-prev {
        left: -225px; }
      .build-kit .product-list div.slick-slider div.slick-list {
        top: 24px;
        position: relative; }
      .build-kit .product-list div.slick-slider .kit-option-container {
        min-height: 200px;
        position: relative; }
        .build-kit .product-list div.slick-slider .kit-option-container .close-button {
          position: absolute;
          background-color: lightgrey;
          color: white;
          left: 0;
          width: 20px;
          height: 20px; }
          .build-kit .product-list div.slick-slider .kit-option-container .close-button:hover {
            background-color: grey;
            cursor: pointer; }
        .build-kit .product-list div.slick-slider .kit-option-container div.kit-option {
          height: 150px;
          width: 150px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center; }
          .build-kit .product-list div.slick-slider .kit-option-container div.kit-option .option {
            opacity: 0; }
            .build-kit .product-list div.slick-slider .kit-option-container div.kit-option .option.show-count {
              opacity: 100;
              background-color: black;
              height: 50px;
              width: 50px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-size: 18px; }
        .build-kit .product-list div.slick-slider .kit-option-container p.title {
          text-align: left;
          margin: 5px 0 0 0;
          position: relative; }
  @media only screen and (max-width: 768px) {
    .build-kit h1 {
      font-size: 24px; }
    .build-kit article {
      max-width: 300px;
      font-size: 14px; }
    .build-kit .kit-image {
      margin: 20px 0;
      width: 300px;
      height: 300px;
      background-color: white;
      display: flex; }
      .build-kit .kit-image img {
        max-height: 400px; }
    .build-kit .selected {
      width: 300px;
      justify-content: space-around; }
      .build-kit .selected p {
        font-size: 12px; }
    .build-kit .button {
      margin-bottom: 20px;
      width: 300px; }
    .build-kit .product-list div {
      height: 75px;
      width: 75px;
      margin: 5px; } }

h3 {
  background: #00558B;
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center; }

.variable-width .slick-slide p {
  background: #00558B;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center; }

.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08); }

.center h3 {
  opacity: 0.8;
  transition: all 300ms ease; }

.content {
  padding: 20px;
  margin: auto;
  width: 90%; }

.slick-slide .image {
  padding: 10px; }

.slick-slide img {
  border: 5px solid #FFF;
  display: block;
  margin: auto; }

.slick-slide img.slick-loading {
  border: 0; }

.slick-slider {
  margin: 30px auto 50px; }

.slick-dots {
  margin-left: 0; }

.slick-thumb {
  bottom: -45px; }
  .slick-thumb li {
    width: 60px;
    height: 45px; }
    .slick-thumb li img {
      filter: grayscale(100%); }
    .slick-thumb li.slick-active img {
      filter: grayscale(0%); }

@media (max-width: 768px) {
  h3 {
    font-size: 24px; }
  .center {
    margin-left: -40px;
    margin-right: -40px; }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1); }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease; } }

* {
  min-height: 0;
  min-width: 0; }
