$primary-color: #00558B;
$slick-arrow-color: $primary-color;

/*build-a-kit styling*/
.build-kit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 15px;
  h1 {
    font-size: 36px;
  }
  article {
    max-width: 450px;
    font-size: 18px;
  }
  .start-screen {
    position: relative;
    .start-image {
      margin: 20px 0;
      width: 600px;
      height: 450px;
      background-color: white;

      @media only screen and (max-width: 768px) {
        width: 310px;
        height: 280px;
      }
    }
    .start-button {
      color: white;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      margin-bottom: 15px;
      background-color: #bea08d;
      top: 50%;
      right: 50%;
      height: 150px;
      width: 150px;
      border-radius: 50%;
      transform: translate(50%, -50%);
      transition: background-color 500ms ease;
      &:hover {
        cursor: pointer;
        background-color: #c67345;
      }
      @media only screen and (max-width: 768px) {
        background-color: #c67345;
        position: relative;
        border-radius: 0;
        height: 30px;
        transform: none;
        top: 0;
        width: 100%;
        right: 0;
      }
    }
  }
  .build-a-kit {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .kit-image {
    margin: 20px 0;
    width: 600px;
    height: 450px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-height: 400px;
      //opacity: .3;
    }
    @media only screen and (max-width: 768px) {
      width: 310px;
      height: 280px;
    }
  }
  .show-selected-option {
    height: 50px;
    width: 600px;
    display: flex;
    margin-bottom: 10px;
    @media only screen and (max-width: 768px) {
      width: 310px;
    }
    p {
      font-size: 16px;
      margin-right: 75px;
    }
  }
  .button {
    margin-bottom: 20px;
    width: 450px;
    padding: 0;
    h1 {
      margin: 0;
      color: white;
      padding: 0;
    }
  }

  .product-list {
    max-width: 1100px;

    display: flex;
    max-height: 250px;
    align-items: center;
    //position: relative;
    //right: -1600px;

    div.showContainer {
      margin-right: 30px;
      max-height: 300px;
      min-height: 230px;
      display: flex;
      align-items: center;
      .showList {
        background-color: white;
        height: 150px;
        width: 150px;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        p {
          width: 125px;
        }
      }
    }
    div.slick-slider {
      margin: 0;
      max-width: 850px;
      .slick-prev {
        left: -225px;
      }
      div.slick-list {
        top: 24px;
        position: relative;

        div.slick-slide {
          //width: 150px !important;
          //height: 150px !important;
          //margin: 0 10px !important;
        }
      }
      .kit-option-container {
        min-height: 200px;
        position: relative;
        .close-button {
          position: absolute;
          background-color: lightgrey;
          color: white;
          left: 0;
          width: 20px;
          height: 20px;

          &:hover {
            background-color: grey;
            cursor: pointer;
            @media only screen and (max-width: 1024px) {
              background-color: lightgrey;
            }
          }
        }
        div.kit-option {
          height: 150px;
          width: 150px;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: center;

          .option {
            opacity: 0;
            &.show-count {
              opacity: 100;
              display: flex;
              &.twice {
                p:first-of-type {
                  left: 10px;
                  position: relative;
                  @media only screen and (max-width: 768px) {
                    left: 5px;
                  }
                }
                p:last-of-type {
                  right: 10px;
                  position: relative;
                  @media only screen and (max-width: 768px) {
                    right: 5px;
                  }
                }
              }
            }
            p {
              background-color: black;
              height: 50px;
              width: 50px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
              font-size: 18px;
              cursor: pointer;
              @media only screen and (max-width: 768px) {
                height: 40px;
                width: 40px;
              }
              @media only screen and (max-width: 420px) {
                height: 30px;
                width: 30px;
              }

            }
          }
        }
        p.title {
          text-align: left;
          margin: 5px 0 0 0;
          position: relative;

        }
        p.duplicate {
          font-size: 14px;
          text-align: left;
          margin: 0;
          position: relative;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

      }
    }
  }

  /*mobile style*/
  //ipad-Landscape
  @media only screen and (max-width: 1024px) {

    div.product-list {
      max-width: 800px;
      div.showContainer {
        min-width: 125px;
        margin-right: 10px;
        div.showList {
          height: 125px;
          width: 125px;
        }
      }
      div.slick-slider {
        div.slick-list {
          top: 38px;
        }
        .slick-prev {
          left: -175px;
        }
      }
      div.kit-option-container {
        width: 135px !important;
        div.kit-option {
          height: 125px !important;
          width: 125px !important;
        }
      }
    }
  }
  @media only screen and (max-width: 768px) {
    div.product-list {
      max-width: 550px;
      div.showContainer {
      }
      div.slick-slider {
        max-width: 400px;
        div.slick-list {
          top: 39px;
        }
        .slick-prev {
          left: -175px;
        }
      }
      div.kit-option-container {
        width: 134px !important;
        div.kit-option {
          height: 125px !important;
          width: 125px !important;
        }
      }
    }
    h1 {
      font-size: 24px;
    }

    article {
      max-width: 300px;
      font-size: 14px;
    }

    .kit-image {
      margin: 20px 0;
      width: 350px;
      height: 350px;
      background-color: white;
      display: flex;
      img {
        max-height: 275px;
      }
    }
    .selected {
      width: 300px;
      justify-content: space-around;
      p {
        font-size: 12px
      }
    }

    .button {
      margin-bottom: 20px;
      width: 300px;
      h1 {

      }
    }
  }
  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    div.product-list {
      max-width: 550px;
      div.showContainer {
        min-width: 75px;
        margin-right: 10px;
        div.showList {
          height: 75px;
          width: 75px;
        }
      }
      div.slick-slider {
        max-width: 250px;
        div.slick-list {
          top: 64px;
        }
        .slick-prev {
          left: -115px;
        }
      }
      div.kit-option-container {
        width: 84px !important;
        div.kit-option {
          height: 75px !important;
          width: 75px !important;
        }
      }
    }
  }
}

h3 {
  background: $primary-color;
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

.variable-width .slick-slide p {
  background: $primary-color;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}

.center .slick-center h3 {
  color: #e67e22;
  opacity: 1;
  transform: scale(1.08);
}

.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}

.content {
  padding: 20px;
  margin: auto;
  width: 90%;
}

.slick-slide .image {
  padding: 10px;
}

.slick-slide img {
  border: 5px solid #FFF;
  display: block;
  margin: auto;
}

.slick-slide img.slick-loading {
  border: 0
}

.slick-slider {
  margin: 30px auto 50px;
}

.slick-dots {
  margin-left: 0;
}

.slick-thumb {
  bottom: -45px;
  li {
    width: 60px;
    height: 45px;
    img {
      filter: grayscale(100%);
    }
    &.slick-active {
      img {
        filter: grayscale(0%);
      }
    }
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}

* {
  min-height: 0;
  min-width: 0;
}

//// just like in the regular library, we cannot simply have a vertical
//// slider fill available space like in the horizontal case
////
//// we have to therefore set the height of a slide in a vertical slider
//// explicitly in CSS or otherwise
//.slick-vertical .slick-slide {
//  height: 180px;
//}